.task {
    background-color: #ddd;
    border-radius: 7px;
    margin: 3.5rem auto;
    overflow: hidden;
    width: 100%;
    
    
    & .heading {
        background-color: #444;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        width: 100%;
        
        & h3 {
            color: #e6e6e6;
            font-size: 2rem;
            width: 50%;
        }
        & .icons {
            align-items: center;
            color: #e6e6e6;
            display: flex;
            font-size: 2rem;
            justify-content: flex-end;
            width: 50%;

            &__icon {
                cursor: pointer;
                transition: all .3s;
                
                &:active {
                    transform: scale(.93);
                }

                &:first-child {
                    &:hover{
                        color: lighten($color: #008a2e, $amount: 15%);
                    }
                }

                &--done {
                    color: #008a2e;
                }

                &--delete {
                    &:hover {
                        color: #ff4500;
                    }
                }

                &:not(:last-child) {
                    margin-left: 2rem;
                }
                
            }
            
        }
    }

    & p {
        font-size: 1.8rem;
        font-style: italic;
        padding: 1.5rem;
        width: 100%;
    }

    & .done {
        text-decoration: line-through underline;
    }
}
