<div class="task">

    <div class="heading">
        
        <h3 [ngClass]="taskItem.isDone === true ? 'done' : ''">Task {{ taskItem.id }}</h3>

        <div class="icons">
            <i  
                class="far fa-check-square icons__icon"
                title="Task done"
                (click)="sendDone()"
                [ngClass]="taskItem.isDone === true ? 'icons__icon--done' : ''">
            </i>

            <i  
                class="far fa-trash-alt icons__icon icons__icon--delete"
                title="Delete task"
                (click)="sendDelete()">
            </i>
        </div>

    </div>

    <p [ngClass]="taskItem.isDone === true ? 'done' : ''">{{ taskItem.text }}</p>

</div>
